* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("img/background.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Libre Baskerville", serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}
/* HEADER */

.header {
    background-color: rgba(0, 0 ,0 , 0.5);
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.restaurant-name {
    color: white;
    font-family: "Tangerine", cursive;
    font-size: 7.2rem;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.nav-btn {
    font-family: inherit;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.8rem;
    padding: 2rem;
    transition: transform 0.3s;
    cursor: pointer;
    outline: none;
}

.nav-btn:hover {
    transform: translateY(-5px);
}

.active {
    border-bottom: 2px solid white;
}

/* FOOTER */

.footer {
    padding: 2rem;
    background-color: rgba(0, 0 ,0 , 0.5);
    width: 100%;
    text-align: center;
    color: white;
}

/* MAIN CONTENT */

.main-content {
    max-width: 80rem;
    padding: 3.2rem;
 }

.home, .contact {
    background-color: rgba(0, 0 ,0 , 0.5);
    display: flex;
    padding: 6rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid white;
}

.contact {
    align-items: start;
}

.home-paragraph, .contact-paragraph {
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}

.home-img {
    width: 60%;
    margin-top: 2rem;
}

.contact-img {
    width: 100%;
    margin-top: 2rem;
}

.menu {
    background-color: rgba(0, 0 ,0 , 0.5);
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid white;
    gap: 1rem;
}

.meal {
    box-shadow: 0 0.7rem 2.4rem rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s;
    text-align: center;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 1.2rem 2.4rem rgba(255, 255, 255, 0.75);
}


.meal-content {
    padding: 2.4rem;
    background: white;
    margin-top: -2px;
}

.meal-title {
    font-weight: 700;
    font-size: 1.8rem;
}

.meal-img {
    width: 100%;
}