* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("img/background.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Libre Baskerville", serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}
/* HEADER */

.header {
    background-color: rgba(0, 0 ,0 , 0.5);
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.restaurant-name {
    color: white;
    font-family: "Tangerine", cursive;
    font-size: 7.2rem;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.nav-btn {
    font-family: inherit;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.8rem;
    padding: 2rem;
    transition: transform 0.3s;
    cursor: pointer;
    outline: none;
}

.nav-btn:hover {
    transform: translateY(-5px);
}

.active {
    border-bottom: 2px solid white;
}

/* FOOTER */

.footer {
    padding: 2rem;
    background-color: rgba(0, 0 ,0 , 0.5);
    width: 100%;
    text-align: center;
    color: white;
}

/* MAIN CONTENT */

.main-content {
    max-width: 120rem;
 }

/* HOME TAB */

.home {
    background-color: rgba(0, 0 ,0 , 0.5);
    padding: 6rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}

.home-img {
    width: 25%;
    margin-top: 2rem;
}